{% extends "auctions/layout.html" %}

{% block title %}Create a Listing{% endblock %}

{% block body %}

<h1>Create Auction Listing</h1>
<div>
    <form class="form-group ps-4" action="{% url 'createlisting' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div id="cl_button_row" class="row mt-3 justify-content-end">
            <input id="cl_button" class="btn btn-primary" type="submit" value="Create Listing">
        </div>
    </form>
</div>

{% endblock %}