{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<ul>
    {% for listing in listings %}
    <li> <img class="img-thumbnail" src="{{ listing.item_picture.url|default_if_none:'question_mark.png' }}"
            alt="No image" height="100px" width="100px">
        {{ listing.item_title }}:
        {{ listing.item_description }} |
        ${{ listing.item_initial_price }}
        <a href="{% url 'listing' listing.id %}">Check out this item!</a>
    </li>
    {% endfor %}
</ul>

<!--TODO: Create horizontal cards for each listing-->
<!--I am thinking probably <a class="card"></a> then having to mess with the CSS for it-->
{% endblock %}