{% extends "auctions/layout.html" %}
{% load tz %}

{% block title %}{{ listing.item_title }}{% endblock %}

{% block body %}
<div id="auction_creator">
    <strong>Seller: </strong><i>{{ listing.user }}</i>
</div>

{% if messages %}
<div class="row justify-content-center">
    <div class="col-auto">
        {% for message in messages %}
        <h5 class="text-{{ message.tags }} animate__animated overflow-hidden
        animate__fadeOutUp animate__delay-3s fw-light pb-1 mb-5">{{ message }}</h5>
        {% endfor %}
    </div>
</div>
{% endif %}

<div id="whole_card" class="row g-0 justify-content-center">
    <div id="listing_card" class="card mb-3">
        <div id="listing_card_length" class="row g-0 justify-content-center">
            <div id="img_bid_row" class="row g-0">
                <div id="img_col" class="col-md-4">
                    <img id="img_img" class="object-fit-cover" src="{{ listing.item_picture.url }}" alt="No image"
                        height="300px" width="300px">
                    <img id="img_corners" class="object-fit-cover" src="/images/image_covers.png" alt="No image"
                        height="300px" width="300px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div id="item_name" class="row g-0 col-12">{{ listing.item_title }}</div>

                        <!-- Start Watchlist -->
                        <div id="watchlist_row" class="row g-0 row-cols-2">
                            {% if user.is_authenticated and not listing.user == request.user %}
                            <div id="img_container" class="col-4">
                                <form name="watchlist_item" type="submit" method="post">
                                    {% csrf_token %}
                                    {% if user == watcher %}
                                    <button id="watchlist_button" type="submit" method="post"
                                        class="btn btn-primary btn-sm" name="watchlist_button"
                                        value="Watch this item">Stop watching?
                                        <i class="bi bi-star-fill ps-1"></i>
                                    </button>
                                    {% else %}
                                    <button id="watchlist_button" type="submit" method="post"
                                        class="btn btn-outline-primary btn-sm" name="watchlist_button"
                                        value="Watch this item">Watch
                                        this item?
                                        <i class="bi bi-star ps-1"></i>
                                    </button>
                                    {% endif %}
                                </form>
                            </div>
                            {% endif %}
                            <div>
                                <div id="watchlist_counter" class="col-md-5">
                                    <b>{{ watchlist_number }} People watching currently!</b>
                                </div>
                            </div>
                        </div>
                        <!-- End Watchlist -->
                    </div>
                    <!-- Start Item Description -->

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>{{ listing.item_description|linebreaks }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- End Item Description -->

                    <!-- Start Bid Row -->

                    <div class="card-body">
                        <div id="bidding_row" class="row g-0 row-cols-3 align-items-center justify-content-between">
                            <b class="col-3">Current Bid:</b>
                            <i class="col-1">${{listing.item_initial_price }}</i>

                            {% if user.is_authenticated %}
                            {% if listing.user == request.user %}
                            <div class="col-md-8 ps-5 align-self-center">
                                {% if current_bid_leader == None %}
                                <a href="{% url 'cancelauction' listing_id=listing.id %}" class="btn btn-danger">
                                    Cancel Auction
                                </a>
                                <br>
                                <small class="text-muted">No bidders currently</small>
                                {% else %}
                                <a href="{% url 'acceptauctionbid' listing_id=listing.id %}" class="btn btn-success">
                                    Accept Auction
                                </a>
                                <small class="text-muted">There are bidders</small>
                                {% endif %}
                            </div>
                            {% else %}
                            <form class="col-md-4" name="bidding_form" type="submit" method="post">
                                {% csrf_token %}
                                {{ bidding_form }}
                                <div id="bidding_button" class="row g-0 justify-content-end">
                                    <div class="col-auto pe-3" style="display: flex;">
                                        <input id="listing_buttons" class="btn btn-primary btn-sm" type="submit"
                                            name="bidding_form" value="Submit Bid!">
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <!-- End Bid Row -->

                </div>
            </div>

            <!-- Start Comment Row -->

            {% if user.is_authenticated %}
            <div id="comment_row" class="row g-0">
                <div class="card-body">
                    <div class="row g-0 justify-content-start">
                        <form class="col-md-12" name="comment_form" type="submit" method="post">
                            {% csrf_token %}
                            {{ comment_form }}
                            <div id="comment_button" class="row g-0 justify-content-end">
                                <div class="col-md-2 ps-3 me-1">
                                    <input id="listing_buttons" class="btn btn-primary btn-sm" type="submit"
                                        name="comment_form" value="Submit Comment!">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- End Comment Row -->

            <div id="comment_section" class="row g-0">
                <hr class="border border-1 opacity-50">
                <div id="comments" class="card-body overflow-auto">
                    {% for comment in comments|dictsortreversed:"created_at" %}

                    <p>
                    <div id="username_date" class="row g-0 col-md-12 justify-content-end">
                        <i class="col-10">{{ comment.user }}:</i>
                        {% if user.timezone %}

                        {% timezone user.timezone %}
                        <sub class="col-2">{{ comment.created_at }}</sub>
                        {% endtimezone %}

                        {% else %}
                        <sub class="col-2">{{ comment.created_at }}</sub>
                        {% endif %}
                    </div>
                    <div id="user_comment" class="row g-0 col-md-12">
                        {{ comment }}
                    </div>
                    </p>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- <script>
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    const templateVariables = {
        'timezone': timezone
    };
</script> -->
<!-- Mess around with setting the timezone to the user's timezone -->
{% endblock %}