{% extends "auctions/layout.html" %}

{% block title %}{{ listing.item_title }}{% endblock %}

{% block body %}
<div>
    {{ listing.user_id }}
</div>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img=fluid rounded-start" src="{{ listing.item_picture.url }}" alt="No image" height="300px"
                width="300px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                {{ listing.item_title }}
            </div>
            <div class="card-body">
                {{ listing.item_description }}
            </div>
            <div class="card-body">
                ${{ listing.item_initial_price }}
                <form for="bidding-form" type="submit" method="post">
                    {% csrf_token %}
                    {{ bidding_form }}
                    <input class="btn btn-primary" type="submit" for="bidding-form" value="Submit Bid!">
                </form>
            </div>
            <div>
                <form for="comment-form" type="submit" method="post">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input class="btn btn-primary" type="submit" for="comment-form" value="Submit Comment!">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}