{% extends "auctions/layout.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<h1 class="display-6 text-center mb-5">Login</h1>

{% if message %}
<div class="row justify-content-center">
    <div class="col-auto">
        <h3 class="text-decoration-underline text-danger  fw-light mb-5">{{ message }}</h3>
    </div>
</div>
{% endif %}

<form class="row g-3 justify-content-center" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-floating col-sm-10">
        <input autofocus class="form-control" type="text" id="login_username" name="username" placeholder="Username">
        <label for="login_username">Username</label>
    </div>

    <div class="form-floating col-sm-10">
        <input class="form-control" type="password" id="login_password" name="password" placeholder="Password">
        <label for="login_password">Password</label>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <input class="btn btn-primary my-3 px-5" type="submit" value="Login">
        </div>
    </div>
</form>

<div class="row justify-content-center">
    <div class="col-auto">
        <small class="text-muted mt-5">Don't have an account? <a href="{% url 'register' %}">Register here</a></small>
    </div>
</div>

{% endblock %}