{% extends "auctions/layout.html" %}

{% block title %}Watchlist{% endblock %}

{% block body %}

<h1 class="display-6 text-center">{{user.username}}'s Watchlisted Items</h1>
{% if watchlisted_items %}
{% for item in watchlisted_items %}
<div id="listing_cards" class="row g-0 justify-content-center">
    <ul id="index_list">
        <ul style="padding: 10px 0 10px 0;">
            <div class="card mb-6" style="max-width: 1000px;">
                <div class="row g-0">
                    <div id="index_image_col" class="col-md-2">
                        <img id="index_image" class="object-fit-sm-cover border rounded my-2"
                            src="{{ item.item_picture.url|default_if_none:'Double_Question_Mark.png' }}" alt="No image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.item_title }}:</h5>
                            <p id="index_item_description" class="card-text">{{ item.item_description }}</p>
                            <p id="index_item_link" class="card-text"><small class="text-muted"><a
                                        href="{% url 'listing' item.id %}">Check out your watchlisted item!</a></small>
                            </p>
                        </div>
                    </div>
                    <div id="money_col" class="col-md-2 align-items-center">
                        <div class="card-body">
                            <strong id="cost">${{ item.item_initial_price }}</strong>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </ul>
</div>

<!-- Remove Watchlisted Item Button -->
<!--  <div class="col-md-2 text-right">
<form name="remove_button" type="submit" method="post">
{% csrf_token %}
<button class="btn btn-outline-danger" name="remove_button" type="submit">Remove</button>
</form>
</div>
Delete button if needed for watchlist deletion implementation
</div>
</div>
</ul>  -->

{% endfor %}
{% else %}
<div id="watchlist_container" class="container">
    <div id="watchlist_image_row" class="row">
        <div id="watchlist_col" class="col align-items-center justify-content-center">
            <div class="row">
                <div class="col">
                    <i id="watchlist_icon" class="bi bi-balloon"></i>
                </div>
            </div>
            <div id="watchlist_text" class="row justify-content-center">
                <div class="col">
                    <span>Sorry nothing is being watched at this time, would you like to check out some <a
                            href="{% url 'index' %}">items?</a></span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}