{% extends "auctions/layout.html" %}

{% block title %}Watchlist{% endblock %}

{% block body %}
{% if watchlisted_items %}
{% for item in watchlisted_items %}
<ul>
    <div class="container text-left">
        <div class="row row-cols-2 align-items-center">
            <div class="col-md-10 text-left">
                <img class="img-thumbnail" src="{{ item.item_picture.url|default_if_none:'question_mark.png' }}"
                    alt="No image" height="100px" width="100px">
                {{ item.item_title }}:
                {{ item.item_description }} |
                ${{ item.item_initial_price }}
                <a href="{% url 'listing' item.id %}">Check out your watchlisted item!</a>
            </div>
            <!-- <div class="col-md-2 text-right">
                <form name="remove_button" type="submit" method="post">
                    {% csrf_token %}
                    <button class="btn btn-outline-danger" name="remove_button" type="submit">Remove</button>
                </form>
            </div>
            Delete button if needed for watchlist deletion implementation -->
        </div>
    </div>
</ul>
{% endfor %}
{% else %}
<div id="watchlist_container" class="container">
    <div class="row">
        <div id="watchlist_col" class="col align-items-center justify-content-center">
            <div class="row">
                <div class="col">
                    <i id="watchlist_icon" class="bi bi-balloon"></i>
                </div>
            </div>
            <div id="watchlist_text" class="row justify-content-center">
                <div class="col">
                    <span>Sorry nothing is being watched at this time, would you like to check out some <a
                            href="{% url 'index' %}">items?</a></span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}